
/*--Body--*/
body {
	background: #ffffff;
    font-family: 'Source Sans Pro', sans-serif;
    font-style: normal;
    position: relative;
	max-width:1350px;
	width:100%;
	margin:0;
}





/*--Logo Meni--*/

.zaglavlje {
border:1px hidden;
background-color:#DE7C7C;
  margin:0;
  padding-bottom:2px;
  padding-top:2px;
  width:100%;
  max-width:1350px;
}

.menu img{max-width:100%;}

.menu ul li {
  display: inline;
  
}
.meni{margin:0;max-width:1350px; }

.menu{margin:0;text-align:left; }
.menu a {
  font-size: 20px;
  color: white;
  text-decoration:none; 
  
  padding:10px;
}

.menu li {
	
  list-style: none;
  padding: 20px;
}


/*--Header--*/
#naslov {
  -webkit-background-size: cover;
  background-size: cover;
  background-position: center center;
  text-align: center;
  padding-top: 130px;
  padding-bottom: 100px;
  max-width:1350px;
  width:100%;
}
#naslov h1{
	color:white;
	font-style:italic;
	font-size:30px;
	}
#naslov .header-tekst {
  background: none;
  border: 10px hidden;
  padding: 62px 20px 62px 20px;
}

.naslov-one {
	
  background-image:url('Slike/naslovna.jpg');
  background-repeat:no-repeat;
 
  height: 30vh;
  min-height: 200px;
  padding-top: 100px;
  max-height:200px;
  max-width:1350px;
  width:100%;
}

/*--kraj--*/
.kraj{border:1px hidden ; background-color:white;padding-bottom:10px; }
.kraj h3{font-size:20px;font-style:'Source Sans Pro', sans-serif;  }
.kraj p{font-size:15px;font-style:'Source Sans Pro', sans-serif;}
.rvrijeme h3{color:white;}
.rvrijeme p{color:white;}

.rvrijeme{text-align:center;width:100%;max-width:1350px; background-color:#DE7C7C ;padding-top:5px;padding-bottom:5px;}
.email{
float: left;
width: 33.33%;
max-width:100%; 

text-align:center;
border-bottom: thick solid #DE7C7C ;
background-image:url('Slike/email.png');
background-repeat:no-repeat;
background-position:left;

background-size:15% ;
padding-top:50px;
padding-bottom:50px;

}
.email p{text-align:center;}
.adresa {
	
float: left;
width: 33.33%;
max-width:100%; 

text-align:center;
border-bottom: thick solid #DE7C7C ;
background-image:url('Slike/address.png');
background-repeat:no-repeat;
background-position:left;

background-size:15% auto;

padding-top:50px;
padding-bottom:50px;


}
.telefon{
	float:left;
	width: 33.33%;
max-width:100%; 
	text-align:center;
	border-bottom: thick solid #DE7C7C ;
	background-image:url('Slike/phone.png');
background-repeat:no-repeat;
-o-background-size:15% auto;
-webkit-background-size:15% auto;
-moz-background-size:15% auto;
background-size:15% max-width:15%;
background-position:left;


	padding-top:50px;
	padding-bottom:50px;
	
}

@media screen and (max-width:768px) {
  .body{}
  
  .menu ul li{display:block; padding:2px;}
  
  
  .email {width:100%;padding-top:10px;
	padding-bottom:10px;
	background-position:left;
background-size:10%;}
.email p,h3{text-align:center;}
  .telefon{width:100%;padding-top:10px;
	padding-bottom:10px;
	background-position:left;
background-size:10%;}
  .adresa{width:100%;padding-top:10px;
	padding-bottom:10px;
	background-position:left;
background-size:10%;}
#naslov h1{
	
	font-size:20px;
	}
	

}

